/* New Helvetica */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #14171a;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f8fa;
}

.form-container {
    background-color: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

form {
    width: 100%;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="password"],
form input[type="submit"] {
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 25px;
    border: 1px solid #ccd6dd;
    outline: none;
    transition: border-color 0.3s;
}
form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="tel"]:focus,
form input[type="password"]:focus {
    border-color: #1da1f2;
}

form input[type="submit"] {
    background-color: #1da1f2;
    color: #fff;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}
form input[type="submit"]:hover {
    background-color: #0e71c8;
}
