<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal account</title>
    <link rel="stylesheet" href="{{ asset('css/newHelvetica.css') }}"></head>
<body>
<div class="container">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Personal account!</h4>
        <p>Thank you for log-in.</p>
        <hr>
        <p class="mb-0">You are in your personal account.</p>
    </div>
</div>
</body>
</html>
