<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set new password</title>
    <link rel="stylesheet" href="{{ asset('css/newHelvetica.css') }}"></head>
<body>
<div class="form-container">
    <h2>Set new password</h2>
    <form id="setNewPasswordForm" action="/api/reset" method="get">

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <label for="token">Token:</label><br>
        <input type="tel" id="token" name="token" pattern="[0-9]{6}" placeholder="123456" required><br><br>

        <label for="password">New password:</label><br>
        <input type="password" id="password" name="password" minlength="10" required><br><br>

        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="showPassword">
            <label class="form-check-label" for="showPassword">Show Password</label>
        </div>

        <input type="submit" value="Submit">
    </form>
</div>
{%  block javascripts %}
    <script src="{{ asset('js/setNewPassword.js') }}"></script>
{%  endblock %}
</body>
</html>

